<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>netflixoss-examples</display-name>
	<security-constraint>
		<display-name>securityConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>Secured Resource</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>securityRole</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>securityRole</role-name>
	</security-role>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
